*{
    margin:0;
    padding:0;
    font-family: sans-serif;


}
.banner{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(42, 40, 40, 0.75)),url(imagesss.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;


}
.navbar ul li:hover::after{
    width:100%;

}
.content{
    width:100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
   
   
   }
   
.content h1{
       font-size: 70px;
       margin-top: 80px;
}
   

span{
    background:#009688;
    height:100%;
    width: 0;
    border-radius: 25px;
    position:absolute;
    left: 0;
    bottom:0;
    z-index: -1;
    transition: 0,5;
} 







img{
    height: 200px;
    margin-left: 50px;
}
h3{
    margin-left: 300px;
}
.paris{
    
    border-radius: 50px;
    color: white;
}
.egypt{
   
    border-radius: 50px;
    color: white;
}

.banner1{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(42, 40, 40, 0.75)),url(2.png);
    background-size: cover;
    background-position: center;
}

.dubai{
  
    border-radius: 50px;
    color: white;
}

.maltaa{
   
    border-radius: 50px;
    color: white;
}

.banner2{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(42, 40, 40, 0.75)),url(3.png);
    background-size: cover;
    background-position: center;
}

.turkey{
   
    border-radius: 50px;
    color: white;
}







